<center>
<p><b>Informationen zur Verwendung findest du im <a href="http://www.loxwiki.eu:80/x/7wBmAQ">Wiki-Artikel</a>.
<form method="post" data-ajax="false" name="cti_form" id="cti_form" action="./index.cgi">
<style>
th, td {
    padding: 10px;
    // text-align: left;
}
</style>


<table style="border-collapse:collapse;" border="0" width="80%">
<tbody>
<tr>
	<td>
	<fieldset data-role="controlgroup">
	<TMPL_VAR ACTIVATED><br>
	</fieldset>
	</td>
	<td><TMPL_VAR RUNNINGINSTANCES> Instanzen laufen derzeit (<i>mehr als eine wäre nicht gut</i>)
	</td>
	</tr>
<tr>
	<td>
	<table width="100%"><tr><td>
	<label for="tcpport">TCP-IN</label>
	<TMPL_VAR TCPPORT>
	</td>
	<td>
	<label for="tcpport">UDP-OUT </label>
	<TMPL_VAR UDPPORT>
	</td></tr></table>
	
	
	</td>
	
	<td>Der IN-Port ist der TCP-Port, mit dem dein Miniserver mit dem Any-Plugin verbinden kann.
	<br>Der OUT-Port ist der UDP-Port, an den das Any-Plugin an deinen Miniserver Daten sendet.
	<br>Wenn du unsicher bist, lass die Standardwerte TCP-IN=9095 und TCP-OUT=9096.
	</td>
</tr>
<tr>
	<td>
	<fieldset data-role="controlgroup">
	<TMPL_VAR SECURITY_MODE>
	</fieldset>
	</td>
	<td>
	Hier kannst du den Sicherheitsmodus auswählen. Derzeit wird nur UNSECURE unterstützt, d.h. 
	es können beliebige Befehle mit dem command-Befehl übertragen und ausgeführt werden.<br>
	Der eingeschränkte Modus für Makros ist noch nicht verfügar.
	</td>
</tr>
<tr>
	<td>
	<fieldset data-role="controlgroup">
	<TMPL_VAR AUTHENTICATION>
	</fieldset>
	</td><td>
	Derzeit ist noch keine Authentifizierung implementiert.
	</td>
</tr>
<tr>
	<td>
	<fieldset data-role="controlgroup">
	<TMPL_VAR RESTRICTED_SUBNET>
	</fieldset>
	</td>
	<td>
	Bei Einschränkung auf das eigene Subnet dürfen nur Hosts verbinden, die eine Verbindung 
	aus dem eigenen Netzwerk aufbauen. Diese Option sollte aktiviert bleiben, außer du benötigst
	explizit Verbindungen aus anderen Subnetzen. 
	</td>
</tr>
<tr>
	<td>
	<fieldset data-role="controlgroup">
	<TMPL_VAR ALLOWED_REMOTE_IPS>
	</fieldset>
	</td>
	<td>
	Damit kannst du auf bestimmte IP-Adressen einschränken, die zum Any-Plugin verbinden dürfen.<br>
	Wenn das Feld leer ist, dürfen alle IP-Adressen verbinden.<br>
	Es sind nur IP-Adressen (keine Hostnamen) erlaubt. Gib die IP-Adressen mit Komma getrennt ein.<br>
	Wenn du auf IP-Adressen einschränkst, und 127.0.0.1 nicht berücksichtigst, kannst du lokal vom LoxBerry nicht mehr verbinden.  
	</td>
</tr>
<tr>
<td colspan="2">
<input type="hidden" name="save" value="save">
<input type="submit" value="Einstellungen speichern">

</td>
</tr>

</tbody>
</table>

</form> 

<!-- <a id="btnlogs" data-role="button" href="/admin/system/tools/logfile.cgi?logfile=plugins/lbbackup/raspiBackup.log&header=html&format=template" target="_blank" data-inline="true" data-mini="true" data-icon="arrow-d">Logdatei &ouml;ffnen</a> -->


</center>
<script>

<!-- // Get numbers of raspiBackup PIDs every 5 seconds and update submit button status -->
<!-- setInterval(function() { -->
  <!-- // method to be executed; -->
<!-- getText('<TMPL_VAR NAME=CHECKPIDURL>', mycallback); //passing mycallback as a method   -->
<!-- }, 5000); -->

<!-- getText = function(url, callback) // How can I use this callback? -->
<!-- { -->
    <!-- var request = new XMLHttpRequest(); -->
    <!-- request.onreadystatechange = function() -->
    <!-- { -->
        <!-- if (request.readyState == 4 && request.status == 200) -->
        <!-- { -->
            <!-- callback(request.responseText); // Another callback here -->
        <!-- } -->
    <!-- };  -->
    <!-- request.open('GET', url); -->
    <!-- request.send(); -->
<!-- } -->

<!-- function mycallback(data) { -->
   <!-- // alert(data); -->
   <!-- if (data != "0\n") -->
	<!-- { $("#jit_submit").prop("disabled",true); -->
	  <!-- $("#jit_submit").val("Backup läuft...").button("refresh"); -->
	<!-- } -->
	<!-- else { -->
	  <!-- $("#jit_submit").prop("disabled",false); -->
	  <!-- $("#jit_submit").val("Backup jetzt starten!").button("refresh"); -->
	<!-- } -->
<!-- } -->

</script>
