<div data-role="navbar" >
	<ul>
		<li><a id="a_settings" href="./index.cgi" <TMPL_VAR NAME=CLASS_INDEX> ><TMPL_VAR MENU.SETTINGS></a></li>
<!--		<li><a id="a_settings" href="./settings.cgi" <TMPL_VAR NAME=CLASS_SETTINGS> >Settings</a></li> -->
<!--		<li><a id="a_logfile" href="/admin/system/tools/logfile.cgi?logfile=plugins/lbbackup/raspiBackup.log&header=html&format=template" <TMPL_VAR NAME=CLASS_LOGFILE> >Logfile</a></li> -->
<!--		<li><a target="_blank" href="/admin/system/tools/logfile.cgi?logfile=plugins/lbbackup/raspiBackup.log&header=html&format=template">Logfile</a></li> -->
 	</ul>
</div>

<center>
<p><b><TMPL_VAR ANY.USAGE_INFO>.</b>
<form method="post" data-ajax="false" name="cti_form" id="cti_form" action="./index.cgi">

<input type="hidden" name="security_mode" value="unsecure">


<style>
th, td {
    padding: 10px;
    // text-align: left;
}
</style>


<table style="border-collapse:collapse;" border="0" width="80%">
<tbody>
<tr>
	<td>
	<fieldset data-role="controlgroup">
	<TMPL_VAR ACTIVATED><br>
	</fieldset>
	</td>
	<td><TMPL_VAR RUNNINGINSTANCES> <TMPL_VAR ANY.INSTANCES_RUNNING>
	<a id="btnlogs" data-role="button" href="/admin/system/tools/logfile.cgi?logfile=plugins/<TMPL_VAR LBPLUGINDIR>/tcp2shell.log&header=html&format=template" target="_blank" data-inline="true" data-mini="true" data-icon="arrow-d"><TMPL_VAR ANY.BUTTON_LOGFILE></a>
	
	</td>
	</tr>
<tr>
	<td>
	<table width="100%"><tr><td>
	<label for="tcpport">TCP-IN</label>
	<TMPL_VAR TCPPORT>
	</td>
	<td>
	<label for="tcpport">UDP-OUT</label>
	<TMPL_VAR UDPPORT>
	</td></tr></table>
	
	
	</td>
	
	<td><TMPL_VAR ANY.TCP_IN_HINT>
	<br><TMPL_VAR ANY.UDP_OUT_HINT>
	<br><TMPL_VAR ANY.DEFAULTPORT_HINT>
	</td>
</tr>
<!--
SECURE MODE currently is set fixed on top of the form to 'unsecure'
<tr>
	<td>
	<fieldset data-role="controlgroup">
	<TMPL_VAR SECURITY_MODE>
	</fieldset>
	</td>
	<td>
	<TMPL_VAR ANY.SECURITY_MODE_HINT>
	</td>
</tr>
-->
<!--
<tr>
	<td>
	<fieldset data-role="controlgroup">
	<TMPL_VAR AUTHENTICATION>
	</fieldset>
	</td><td>
	<TMPL_VAR ANY.AUTHENTICATION_HINT>
	</td>
</tr>
-->
<tr>
	<td>
	<fieldset data-role="controlgroup">
	<TMPL_VAR RESTRICTED_SUBNET>
	</fieldset>
	</td>
	<td>
	<TMPL_VAR ANY.RESTRICTED_SUBNET_HINT>
	</td>
</tr>
<tr>
	<td>
	<fieldset data-role="controlgroup">
	<TMPL_VAR ALLOWED_REMOTE_IPS>
	</fieldset>
	</td>
	<td>
	<TMPL_VAR ANY.RESTRICTED_IP_HINT> 
	</td>
</tr>
<tr>
<td colspan="2">
<input type="hidden" name="save" value="save">
<input type="submit" value="<TMPL_VAR ANY.BUTTON_SUBMIT>">

</td>
</tr>

</tbody>
</table>

</form> 

<!-- <a id="btnlogs" data-role="button" href="/admin/system/tools/logfile.cgi?logfile=plugins/lbbackup/raspiBackup.log&header=html&format=template" target="_blank" data-inline="true" data-mini="true" data-icon="arrow-d">Logdatei &ouml;ffnen</a> -->


</center>
<script>

<!-- // Get numbers of raspiBackup PIDs every 5 seconds and update submit button status -->
<!-- setInterval(function() { -->
  <!-- // method to be executed; -->
<!-- getText('<TMPL_VAR NAME=CHECKPIDURL>', mycallback); //passing mycallback as a method   -->
<!-- }, 5000); -->

<!-- getText = function(url, callback) // How can I use this callback? -->
<!-- { -->
    <!-- var request = new XMLHttpRequest(); -->
    <!-- request.onreadystatechange = function() -->
    <!-- { -->
        <!-- if (request.readyState == 4 && request.status == 200) -->
        <!-- { -->
            <!-- callback(request.responseText); // Another callback here -->
        <!-- } -->
    <!-- };  -->
    <!-- request.open('GET', url); -->
    <!-- request.send(); -->
<!-- } -->

<!-- function mycallback(data) { -->
   <!-- // alert(data); -->
   <!-- if (data != "0\n") -->
	<!-- { $("#jit_submit").prop("disabled",true); -->
	  <!-- $("#jit_submit").val("Backup läuft...").button("refresh"); -->
	<!-- } -->
	<!-- else { -->
	  <!-- $("#jit_submit").prop("disabled",false); -->
	  <!-- $("#jit_submit").val("Backup jetzt starten!").button("refresh"); -->
	<!-- } -->
<!-- } -->

</script>
